
body{
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

p{
  font-family: "Roboto", sans-serif;
  color: #6c6f8a;
}



.home-view {
  height: 100vh;
  background-color: aqua;
}

button {
  display: flex;
  height: 3em;
  width: 110px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
 }

 button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }

 button:hover > svg {
  font-size: 1.2em;
  transform: translateX(5px);
 }

 button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(2px);
 }
