
body{
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

p{
  font-family: "Roboto", sans-serif;
  color: #6c6f8a;
}

.home-view {
  // height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

button {
  display: flex;
  height: 3em;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;

 }

 button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 1s ease-in;
 }

 button:hover > svg {
  font-size: 1.2em;
  transform: translateX(25px);
 }

 button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(2px);
 }

 .item-mission{
  box-shadow: 0 0.5px 1px rgba(103, 50, 248, 0.283);
  border-radius: 10px;
  padding: 25px;
 }

 .progress-bar{
  color: #6c6f8a;
 }

 a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Optional: Remove the underline */
}
a:hover {
  color: inherit; /* Inherit the color on hover */
}
a:visited {
  color: inherit; /* Inherit the color after the link is visited */
}
a:active {
  color: inherit; /* Inherit the color when the link is active */
}
