.image-section {
  width: 50%;
  background-image: url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.form-container {
  display: flex;
  flex-direction: row;
}
.form-section {
  width: 50%;
  padding-right: 20px;
}
