<br>
<br>
<br>
<br>
<br>
<div class="container">
<div data-controller="checkout" data-checkout-id-value='<%= @donation.id %>' data-checkout-secret-value= '<%= @donation.payment_intent_id %>' data-checkout-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>">
  <form id="payment-form" data-checkout-target = 'form' data-action = 'submit->checkout#submit'>
  <div id="payment-element" data-checkout-target='payment'>
    <!-- Elements will create form elements here -->
  </div>
  <br>
  <button id="submit" data-checkout-target='submit' class="border rounded-pill" >Submit</button>
  <div id="error-message" data-checkout-target='error'>
    <!-- Display error message to your customers here -->
  </div>
</form>
</div>
</div>
