.parentDiv{
  width:1300px;
  margin-left:auto;
  margin-right:auto;
}

//-----------------------------------------------CREATE EVENT BUTTON

.createEventButton{
  margin:5px 5px 0px 0px;
}
.createEventButton:hover{
  box-shadow: 6px 6px $blue;
  transition:1.5s;
}

// -------------------------------------------------VAULTS
.vaultFlexParent{
  width:100%;
  display:flex;
  // padding: 20px;
  // border-radius:25px;
  // border: black solid 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vaultFlexChild{
  padding: 20px;
  flex-grow:1;
  text-align: center;
}

// -----------------------------------------------MAIN CARD DIV
.indexGridContainer{
  margin-top:25px;
  border-radius:10px;
  padding:5px;
  // border: rgb(237, 237, 237) solid 1px;
  display: inline-grid;
  --min-grid-absolute-size: 12rem;
  --max-grid-relative-size: 20%;
  grid-template-columns: auto auto auto auto auto;

}
.mainIndexCard{
 position:relative;
 height:400px;
 width:240px;
 overflow: hidden;
 border: rgb(225, 225, 225) solid 1px;
 margin:8px;
 border-radius: 12px;
 background-color: rgb(206, 206, 206);
}


.mainIndexCard:hover{
  box-shadow: 6px 6px   rgb(27, 27, 27);
  border-radius: 0px;
  transition:1s;
}

#cardTitle{
  font-size:80%;
  background-color:rgba(255, 255, 255, 0.6);
  padding:20px;
  position:absolute;
  top:87%;
  height:700px;
  // backdrop-filter: blur(5px);
  // filter: blur(5px);
}
.mainIndexCardContent{
    // height: calc(100% - 60px);
  background-color: rgba(255, 255, 255, 0.975);
  position: absolute;
  top: 450px;
  padding:20px;
  height:600px;
  font-size:60%;
}

.mainIndexCard:hover .mainIndexCardContent{
  transition:10s;
  display:block;
  top: 0px;
}
.mainIndexCard:hover #cardTitle{
  transition:1.5s;
  top: 0px;
  display:block;
}

.mainIndexCard:focus{
color:red
}
